p {
   width: 65%;
   margin: auto auto;
    padding-left: auto;
	padding-right: auto;
    font-size: 1em;
    text-align: left;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
h3{
    text-align: center;
}
